.head_tt {
  font-size: 20px !important;
}
.user_name {
  font-size: 15px !important;
  line-height: 22px !important;
  color: #ffdc00 !important;
}
.user_num {
  font-size: 14px;
}
.user_lgout {
  font-size: 15px !important;
}
.lnb_panel {
  box-shadow: 2px 2px 8px 0px #00000014;
}
.lnb_menu {
  font-size: 15px !important;
}
